<div class="hero">
	<h2 class="hero-title">Name of category</h2>
	<ul class="hero-list">
		<li class="hero-item">
			<div class="item-box">
				<h3 class="product-title">Product 1</h3>
				<img class="product-img" src="../../img/hero/Product-500x500.jpg" alt="">
				<form class="product-form">
					<div class="select-box">
						<select class="product-quantity" name="" id="">
							<option class="quantity-option" value="1">1</option>
							<option class="quantity-option" value="2">2</option>
							<option class="quantity-option" value="3">3</option>
						</select>
						<div class="select-arrow">
							<img class="select-arrow-img" src="../../img/sidebar/arr-prod.png" alt="">
						</div>
					</div>
					<p class="product-price">75.99$</p>
					<button class="product-btn" type="submit">
						<img class="product-btn-img" src="../../img/hero/cart.png" alt="">
					</button>
				</form>
			</div>
		</li>
		<li class="hero-item">
			<div class="item-box">
				<h3 class="product-title">Product 1</h3>
				<img class="product-img" src="../../img/hero/Product-500x500.jpg" alt="">
				<form class="product-form">
					<div class="select-box">
						<select class="product-quantity" name="" id="">
							<option class="quantity-option" value="1">1</option>
							<option class="quantity-option" value="2">2</option>
							<option class="quantity-option" value="3">3</option>
						</select>
						<div class="select-arrow">
							<img class="select-arrow-img" src="../../img/sidebar/arr-prod.png" alt="">
						</div>
					</div>
					<p class="product-price">75.99$</p>
					<button class="product-btn" type="submit">
						<img class="product-btn-img" src="../../img/hero/cart.png" alt="">
					</button>
				</form>
			</div>
		</li>
		<li class="hero-item">
			<div class="item-box">
				<h3 class="product-title">Product 1</h3>
				<img class="product-img" src="../../img/hero/Product-500x500.jpg" alt="">
				<form class="product-form">
					<div class="select-box">
						<select class="product-quantity" name="" id="">
							<option class="quantity-option" value="1">1</option>
							<option class="quantity-option" value="2">2</option>
							<option class="quantity-option" value="3">3</option>
						</select>
						<div class="select-arrow">
							<img class="select-arrow-img" src="../../img/sidebar/arr-prod.png" alt="">
						</div>
					</div>
					<p class="product-price">75.99$</p>
					<button class="product-btn" type="submit">
						<img class="product-btn-img" src="../../img/hero/cart.png" alt="">
					</button>
				</form>
			</div>
		</li>
		<li class="hero-item">
			<div class="item-box">
				<h3 class="product-title">Product 1</h3>
				<img class="product-img" src="../../img/hero/Product-500x500.jpg" alt="">
				<form class="product-form">
					<div class="select-box">
						<select class="product-quantity" name="" id="">
							<option class="quantity-option" value="1">1</option>
							<option class="quantity-option" value="2">2</option>
							<option class="quantity-option" value="3">3</option>
						</select>
						<div class="select-arrow">
							<img class="select-arrow-img" src="../../img/sidebar/arr-prod.png" alt="">
						</div>
					</div>
					<p class="product-price">75.99$</p>
					<button class="product-btn" type="submit">
						<img class="product-btn-img" src="../../img/hero/cart.png" alt="">
					</button>
				</form>
			</div>
		</li>
	</ul>
</div>