.header {
  position: absolute;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0);
  border-bottom: 1px solid gray;
  background: transparent;
  height: 100px;
  width: 100%;
  max-width: 1440px;
}

.news-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 42px;
  margin: 0 auto;
  overflow: hidden;
  background-color: transparent;
}

.news {
  display: flex;
  animation: marquee 20s linear infinite;
}

.news-text {
  width: 270px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  padding: 0;
  transition: all 0.2s ease-out;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #bdbdbd;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-50%);
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-text {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: white;
  transition: all 250ms ease;
}

.logo-img {
  transition: all 250ms ease;
}

.logo:hover .logo-text {
  font-size: 26px;
}

.logo:hover .logo-img {
  width: 60px;
}

.navigation {
  display: none;
}

.menu-icon-elem {
  width: 30px;
  height: 3px;
  background-color: whitesmoke;
  margin-bottom: 5px;
  color: rgb(255, 38, 0);
}

.menu-icon-elem:last-child {
  margin-bottom: 0;
}

.menu {
  /* display: none; */
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(5, 5, 5, 1), rgba(5, 5, 5, 0)), url(../img/bcg.jpg);
  background-size: cover;
  opacity: 0;
  padding: 10px 0;
  transform: scale(0);
  transition: opacity 700ms ease-in, transform 500ms ease-in;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 10px;
}

.close-menu-icon {
  right: 30px;
  width: 30px;
  height: 30px;
}

.show-menu {
  transform: scale(1);
  opacity: 1;
}

.menu-list {
  max-width: 100%;
  padding: 0 10px;
}

.menu-item {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
  padding: 10px;
}

.menu-item:last-child {
  margin-bottom: 0;
}

.profile {
  min-width: 250px;
  max-width: 500px;
  height: 50px;
  border: 1px solid red;
  margin: 0 auto;
}

.products-menu-icon {
  width: 20px;
  transition: all 1s ease;
}

.products-mob-menu:hover .products-menu-icon {
  width: 30px;
}

.products-mob-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.product-list-mob {
  border: 1px solid red;
  padding: 20px;
  overflow: hidden;
  visibility: hidden;
  transform: scaleY(0);
  width: 500px;
  height: 0;
  position: absolute;
  top: -500px;
  transition: all 1s ease;
}

.product-list-mob.show {
  overflow: visible;
  visibility: visible;
  transform: scaleY(1);
  height: 500px;
}

.list-mob-item {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px 0;
}

.list-mob-item:last-child {
  margin-bottom: 0;
}

.banner {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu {
    left: 0;
  }
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 682px) {
  .products-mob-menu {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    max-width: 500px;
    top: 0;
    right: 0;
  }
  .show-menu {
    position: absolute;
    transform: scale(1);
    opacity: 1;
  }

  .products-mob-menu {
    flex-direction: row;
  }

  .logo-menu {
    display: none;
  }
  .header-menu {
    justify-content: end;
  }
}

@media screen and (min-width: 1024px) {
  .menu {
    display: none;
  }

  .navigation {
    display: block;
  }

  .header-navigation {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .menu-item {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
    transition: all 250ms ease-in-out;
  }

  .menu-item:hover {
    font-size: 26px;
  }

  .menu-icon {
    display: none;
  }

  .products-menu-icon {
    width: 20px;
    transition: all 1s ease;
  }

  .products-menu:hover .products-menu-icon {
    width: 30px;
  }

  .products-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: nowrap;
  }

  .product-list {
    border-radius: 50px;
    box-shadow: 0px 7px 10px white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    padding: 20px;
    overflow: hidden;
    visibility: hidden;
    transform: scaleY(0);
    width: 500px;
    height: 0;
    position: absolute !important;
    top: 100px;
    transition: all 1s ease;
  }

  .product-list.show {
		overflow: auto;
		scrollbar-width: none; /* Скрыть скроллбар в Firefox */
    -ms-overflow-style: none; /* Скрыть скроллбар в IE and Edge */
    visibility: visible;
    transform: scaleY(1);
    height: 400px;
    position: absolute !important;
  }

	.product-list::-webkit-scrollbar {
    display: none; /* Скрыть скроллбар в Chrome и Safari */
}

  .list-item {
    border-bottom: 1px solid white;
    border-radius: 10px 10px 10px 10px;
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: 20px;
    background: none;
    background-position: top -80px left 0;
    background-repeat: no-repeat;
    transition: all 750ms ease-out;
  }

  .list-item:last-child {
    margin-bottom: 0;
  }

  .list-item:hover {
    animation: border-category 500ms ease-out forwards;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    border-top: 1px solid blue;
    background: linear-gradient(to bottom, rgb(255, 0, 0), rgba(0, 0, 0, 0));
    box-shadow: 0 -5px 20px red;
    background-position: top 0 left 0;
    background-repeat: no-repeat;
  }

  .list-item-link {
    text-align: center;
    display: inline-block;
    padding: 20px 20px;
    width: 250px;
  }

  .banner {
    display: block;
    width: 100%;
    height: 500px;
  }
}

@keyframes border-category {
  0% {
    border-bottom: 1px solid white;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
  }
  50% {
    border-bottom: 2px solid blue;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
    border-top: 2px solid transparent;
  }
  100% {
    border-bottom: 3px solid blue;
    border-left: 3px solid blue;
    border-right: 3px solid blue;
    border-top: 3px solid blue;
  }
}
